{{define "member-edit"}}
    {{ template "head" }}
    {{- /*gotype: goBoard/internal/core/domain.SiteContext*/ -}}

    <body>
    <div id="content">
        <div class="pad">
            <div class="clear" id="wrap_l56761">
                <h3 class="title">Account management: {{ .Username }}</h3>
            </div>
            <div class="clear"></div>
            {{template "top-nav" .}}
            <div class="hr">
                <hr/>
            </div>
            <div class="box clear" style="background-color: #acccdb; color: black">
                <div id="response_form"></div>
                <form method="post" name="form" id="form" class="coreform" action="/member/edit">
                    <fieldset>
                        <legend>Account Management</legend>
                        <ol>
                            <li>
                                <label id="label_username" for="username">Name</label>
                                <input type="text" name="username" id="username" value="{{.Username}}" style="width: 150px"/>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <label id="label_postal" for="postal">Postal Code</label>
                                <input type="text" name="postal" id="postal" value="{{.Member.PostalCode}}" style="width: 150px"/>
                                <div class="clear"></div>
                            </li>
                        </ol>
                    </fieldset>
                    <fieldset>
                        <legend>Details</legend>
                        <ol>
                            {{range .Prefs}}
                                {{if eq .Type "checkbox"}}
                                    {{template "checkbox" .}}
                                {{else if eq .Type "input"}}
                                    {{template "text" .}}
                                {{else if eq .Type "textarea"}}
                                    {{template "textarea" .}}
                                {{end}}
                            {{end}}
                            <input type="submit" class="submit" value="Save Changes">
                        </ol>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.forms['form'].addEventListener('submit', function (e) {
            e.preventDefault();
            const formData = new FormData(e.target);
            let searchParams = new URLSearchParams(formData);
            fetch(e.target.action, {
                method: 'POST',
                body: searchParams
            }).then(function (response) {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                return response.json();
            }).then(function (data) {
                window.location = "/member/edit"
            }).catch(function (error) {
                document.getElementById("response_form").innerHTML = error.toString();
            })

        })
    </script>
    </body>
{{end}}