{{define "message-list-nav"}}
  <ul class="nav bottom clear">
    <li><a href="/public">back to the shit</a></li>
    {{- /*gotype: goBoard/internal/core/domain.Message*/ -}}
    {{if .HasPrevPage}}
      <li>
        <a href="/message/list/{{.MemberID}}?reverse=true&cursor={{.PrevPageCursor.Format "2006-01-02T15:04:05Z07:00"}}">prev</a>
      </li>
    {{end}}
    {{if .HasNextPage }}
      <li>
        <a href="/message/list/{{.MemberID}}?reverse=false&cursor={{.PageCursor.Format "2006-01-02T15:04:05Z07:00"}}">next</a>
      </li>
    {{end}}
  </ul>
{{end}}