@import "error.css";
@import "layout.css";
@import "form.css";
@import "list.css";
@import "view.css";
@import "member.css";
@import "dropmenu.css";
/*@import "datePicker.css";*/
@import "mobile.css";

/* Start Reset */
* { margin: 0px; padding: 0px; }
fieldset,img { border: none; outline: none; }

img { border: none; }
/* End Reset */

/* Start Base Styles */
body
{
  font-size: 62.5%;
  height: 100%;
  font-family: verdana, helvetica, arial, sans-serif;
  background-color: #333333;
  color: #ffffff;
}

a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline; }
.hide { display: none; }
.clear { clear: both; }
.blink { text-decoration: blink; }
.link,.lurker a { text-decoration: underline !important; }
img { cursor: pointer; }
h1,h2,h3,h4,h5 { font-weight: bold; }
h1 { font-size: 2.0em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }

a {
    color: #000000;
}
/* End Base Styles */
