package views

templ Head() {
    <head id="head">l
        <link rel="stylesheet" href="/static/css/core.css"/>
        <script type="text/javascript" src="/static/js/htmx.min.js"></script>
        <script type="text/javascript" src="/static/js/hyperscript.min.js"></script>
        <script type="text/javascript" src="/static/js/response-targets.js"></script>
    </head>
}