{{ define "main" }}
{{ template "head" . }}}
<body>
<div id="content">
    <div class="pad">
        <div class="clear" id="wrap_l56761">
            <h3 class="title">elitism. secrecy. tradition.</h3>
            <div class="clear"></div>
                {{template "top-nav"}}
            <div class="data">
                {{- /*gotype: goBoard/internal/core/domain.SiteContext*/ -}}
                {{ range .ThreadPage.Threads }}
                <div>
                    {{template "thread" .}}
                </div>
                {{ end }}
            </div>
        </div>
        {{ template "bottom-nav" . }}
    </div>
</div>
</body>

<script>
    $(document).ready(function () {
        $('.data div:even').css({'background-color': '#c3dae4', 'color': 'black'});
        $('.data div:odd').css({'background-color': '#acccdb', 'color': 'black'});
    });
</script>

{{ end }}