{{ define "member" }}
    <head>
        <link rel="stylesheet" href="/static/css/core.css">
        <script type="text/javascript" src="/static/js/core.js"></script>
        <title>elitism. secrecy. tradition.</title>
    </head>
    <body>
    <div id="content">
        <div class="pad">
            <div class="clear">
                <h3 class="title">{{ .Name}}</h3>
                <div class="clear">
                    {{ template "topnav" }}
                    <div class="hr">
                        <hr/>
                    </div>
                    <div class="box clear">
                        <div class="nophoto"></div>
                        <ul class="memberinfo">
                            <li>
                                <div class="pref"><span class="small">preferred pronouns</span>:</div>
                                <div class="prefdata">she/her</div>
                            </li>
                            <li>
                                <div class="pref">location:</div>
                                <div class="prefdata">philly and ypsilanti</div>
                            </li>
                            <li>
                                <div class="pref">aim:</div>
                                <div class="prefdata">you so groovy</div>
                            </li>
                            <li style="padding-top:15px">
                                <div class="pref">date joined:</div>
                                <div class="prefdata">{{ .DateJoined }}</div>
                            </li>
                            <li>
                                <div class="pref">last posted:</div>
                                <div class="prefdata">{{ .LastPosted }}</div>
                            </li>
                            <li>
                                <div class="pref">last seen:</div>
                                <div class="prefdata">{{ .LastView }}</div>
                            </li>
                            <li>
                                <div class="pref">member:</div>
                                <div class="prefdata">{{ .ID }}</div>
                            </li>
                            <li style="padding-top:15px">
                                <div class="pref">total threads:</div>
                                <div class="prefdata"><strong>{{ .TotalThreads }}</strong>, 0.056% of 393,784</div>
                            </li>
                            <li>
                                <div class="pref">total posts:</div>
                                <div class="prefdata"><strong> {{ .TotalThreadPosts }} </strong>, 0.153% of 14,050,684
                                </div>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{{ end }}