{{define "member-profile-nav"}}
    <ul class="nav bottom clear">
        <li><a href="/thread/listbymemberposted/elliott/">threads participated</a></li>
        <li><a href="/thread/listbymember/elliott/">threads created</a></li>
        <li><a href="/thread/viewbymember/elliott/">posts created</a></li>
        <li><a href="/thread/listfavoritesbymember/elliott/">favorites</a></li>
        <li><a href="/thread/listignoredthreadsbymember/elliott/">ignored threads</a></li>
        <li><a href="/member/editcolors/elliott/">color scheme</a></li>
        <li><a href="/member/edit/">edit account</a></li>
    </ul>
{{end}}