{{ define "newthread" }}
    <head>
        <link rel="stylesheet" href="/static/css/core.css">
        <script type="text/javascript" src="/static/js/core.js"></script>
        <title>elitism. secrecy. tradition.</title>
    </head>
    <body>
    <div id="content">
        <div class="pad">
            <div class="clear">
                <h3 class="title">Create New Thread</h3>
                <div class="clear"></div>
                {{template "topnav"}}
                <div class="hr">
                    <hr>
                </div>
                <div id="response_form"></div>
                <form method="post" name="form" class="coreform" id="form" action="/thread/create">
                    <fieldset>
                        <legend>Thread Details</legend>
                        <ol>
                            <li>
                                <label id="label_subject" for="subject">Subject:</label>
                                <input type="text" name="subject" id="subject" value="" style="width:400px;"
                                       maxlength="200" notnull="Please enter a subject." class="validate_form">
                                <div class="clear"></div>
                            </li>
                            <li>
                                <label id="label_subject" for="member">Member:</label>
                                <textarea name="member" id="member" style="width: 400px"
                                          notnull="Please enter a member name." class="validate_form"></textarea>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <label id="label_body" for="body">Body:</label>
                                <textarea name="body" id="body" style="float:left;height:100px;width:600px;"
                                          notnull="Please enter a post body." class="validate_form"></textarea>
                                <div class="clear"></div>
                            </li>
                        </ol>
                    </fieldset>
                    <input type="submit" class="submit" value="say that shit">
                </form>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#subject').attr('notnull', 'Please enter a subject.').addClass('validate_form');
                        $('#body').attr('notnull', 'Please enter a post body.').addClass('validate_form');
                        $('#subject').focus();
                    });

                    document.forms['form'].addEventListener('submit', (event) => {
                        event.preventDefault();
                        fetch(event.target.action, {
                            method: 'POST',
                            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                        }).then((response) => {
                            if (!response.ok) {
                                throw new Error(`HTTP error! Status: ${response.status}`);
                            }
                            return response.json(); // or response.text() or whatever the server sends
                        }).then((body) => {
                            window.location = '/'
                            $('.submit').attr('disabled',false);
                        }).catch((error) => {
                            // TODO handle error
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    </body>
{{ end }}