{{define "top-nav"}}
    <ul class="nav top">
        <div class="setdown">
            <li><a href="/" title="back to the home page">threads</a></li>
            <li><a href="/message/list/1?reverse=false" title="view your messages">messages</a></li>
            <li><a href="/thread/create" title="create a new thread">new thread</a></li>
            <li><a href="/message/create" title="send a message to another member">new message</a></li>
            <li><a href="/search/" title="search the board">search</a></li>
            <li><a href="/chat/" title="chat in realtime">chat</a></li>
            <li><a href="/member/view/" title="view my profile">profile</a></li>
            <li><a href="/donate/" title="donate!">donate</a></li>
            <li><a href="http://webchat.freenode.net/?channels=#bco" title="irc">irc</a></li>
        </div>
    </ul>
{{end}}